<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Egypt">
  <parameter name="browser" value="ie"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
      <include name="Egypt"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->

  <test thread-count="5" name="Diamond">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="Diamond" />
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
 
   <test thread-count="5" name="goldRush">
  <parameter name="browser" value="ie"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
      <include name="goldRush"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test --> 
  
  <test thread-count="5" name="Card5">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="Card5" />
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="ChristmasBalls">
  <parameter name="browser" value="ie"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="ChristmasBalls" />
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Cyferki">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="Cyferki" />
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Antyki">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="Antyki" />
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="triplePlatinum">
  <parameter name="browser" value="ie"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="triplePlatinum"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Duszki">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="Duszki"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Garniec">
  <parameter name="browser" value="ie"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="Garniec"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="btyskothi">
  <parameter name="browser" value="ie"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="btyskothi"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="gorki">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="gorki"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="emotki">
  <parameter name="browser" value="ie"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="emotki"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="redPepperHot">
  <parameter name="browser" value="ie"></parameter>
    <classes>
      <class name="Poland.plGames">
      <methods>
        <include name="redPepperHot"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
